* {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #e4e3e6;
  border-radius: 2px;
}

.section {
  margin: .7vw;
}

.year {
  font-size: 2rem;
  font-weight: 700;
}

.btnBox {
  /* margin: 0 1vw 0 0; */
  width: 80px;
  justify-content: space-between;
  /* align-content: center; */
  display: flex;
}

.btn {
  padding: 0.2vw 0.2vw 0.1vw;
  border: 0.5px solid #e4e3e6;
  border-radius: 5px;
  text-align: center;
  font-size: 0.78rem;
  cursor: pointer;
}

.days {
  display: flex;
  margin-bottom: 0.5vw;
}

.day {
  padding-right: 1.5vw;
  width: calc(100% / 7);
  text-align: right;
}

.day:nth-child(7n +1),
:nth-child(7n) {
  color: #969696;
}
